---

- name: app node | check backup file exists
  stat: 
    path: /home/node/backup/{{ repo_desafio2 }}-{{ ansible_date_time.date }}.bz2
  register: backup_app
  tags:
    - deploy

- name : app node | backup
  command: tar jcvf /home/node/backup/{{ repo_desafio2 }}-{{ ansible_date_time.date }}.bz2  ./
  become: yes
  become_user: node
  args:
    chdir: /home/node/{{ repo_desafio2 }}
  when: backup_app.stat.exists == false
  tags:
    - deploy

- name: app node | clone repo
  git:
    repo: https://github.com/soutoandre/{{ repo_desafio2 }}.git
    dest: /home/node/{{ repo_desafio2 }}
    force: yes
    version: master
  become: yes
  become_user: node
  tags:
   - deploy

- name: app node | Install packages based on package.json.
  npm: path=/home/node/{{ repo_desafio2 }} state=present executable=/usr/local/node/bin/npm
  tags:
    - deploy


- name: app node | reload app
  command: su - node -c "/usr/local/node/bin/pm2 reload /home/node/{{ repo_desafio2 }}/pm2.json"
  tags:
    - deploy

- name: node | startup app
  command: /usr/local/node/bin/pm2  save
  become: yes
  become_user: node
  args:
    chdir: /home/node/
  tags:
    - deploy
