---
- name: node | create group
  group:
    name: node
    state: present
  tags:
    - install

- name: node | create user
  user:
    name: node
    comment: node user
    group: node
    state: present
  tags:
    - install


- name: node |create diretory
  file: path=/usr/local/node  state=directory
  tags:
    - install

- name: node |download 
  get_url:
    url: https://nodejs.org/dist/{{ version_node }}/node-{{ version_node }}-linux-x64.tar.xz
    dest: /tmp/node-{{ version_node }}-linux-x64.tar.xz
  tags:
    - install

- name: node | extract
  unarchive:
    src: /tmp/node-{{ version_node }}-linux-x64.tar.xz
    dest: /usr/local/node
    extra_opts: [--strip-components=1]
    remote_src: yes
    owner: node 
    group: node
  args: 
    creates: /usr/local/node/bin/node
  tags:
    - install

- name: node | create link
  file: 
    src: /usr/local/node/bin/node
    dest: /usr/bin/node
    owner: node
    state: link
  tags:
    - install

- name: node | create profile
  template: src=node.profile  dest=/etc/profile.d/node.sh  mode=755 
  tags:
    - install


- name: node | Clone desafio2   
  git: 
    repo: https://github.com/soutoandre/{{ repo_desafio2 }}.git
    dest: /home/node/{{ repo_desafio2 }}
    force: yes
    version: master
  become: yes
  become_user: node
  tags:
    - install
  
#- name: node | Copy files
##  file: path=/home/node/desafio2/{{ item }} remote_src=yes  backup=yes owner=node group=node mode=0644 state=file
#  with_items:
#    - package.json
#    - server.js
#  tags:
#    - install

- name: node | Install packages based on package.json.
  npm: path=/home/node/{{ repo_desafio2 }} state=present executable=/usr/local/node/bin/npm
  tags:
    - install

- name: node | install pm2
  npm: name=pm2  global=yes state=present executable=/usr/local/node/bin/npm
  tags:
    - install

- name: node | service pm2
  template: src=pm2.service  dest=/etc/systemd/system/pm2-node.service 
  notify: reload systemd
  tags:
    - install

- name: node | startup pm2
  service: name=pm2-node.service state=started enabled=yes
  tags:
    - install

- name: node | start app
  command: su - node -c "/usr/local/node/bin/pm2 start  /home/node/{{ repo_desafio2 }}/pm2.json"
  tags:
    - install

