---
- name: Install Nodejs
  include: installsetup.yml
  when: nodeins 
  tags:
    - install

- name: deploy app 
  include: deploy.yml
  tags:
   - deploy


- name: rollback app
  include: rollback.yml
  tags:
   - rollback

